<div class="flex flex-col">
  <input type="text" [formControl]="searchControl" />
  <button
    type="button"
    class="mt-3 text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
    (click)="onClickSearchSong()"
  >
    Search song
  </button>
</div>

<div class="relative overflow-x-auto mt-3 border">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <caption>
      artists
    </caption>
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Artist Id</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Release date</th>
      </tr>
    </thead>
    <tbody>
      @for (artist of listOfArtists$ | async; track $index) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          (click)="onClickArtist(artist)"
        >
          <td class="px-6 py-4">
            {{ artist.artistId }}
          </td>
          <td class="px-6 py-4">
            {{ artist.artistName }}
          </td>
          <td class="px-6 py-4">{{ artist.releaseDate }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
